.table_class {
  position: relative;
  top: 200px;
  left: 40px;
  border: 1px solid black;
  background-color: rgb(94, 209, 94);
}
th {
  background-color: rgb(54, 179, 54);
}
tr,
td {
  border: 1px solid saddlebrown;
  border-collapse: collapse;
  padding: 2px;
}
#body_id {
  background-color: rgba(149, 214, 85, 0.274);
}

.MM {
  position: absolute;
  top: 200px;
  left: 900px;
}
