* {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-style: unset;
}

.table_class {
  position: relative;
  top: 200px;
  left: 40px;
  color: white;
  border: 1px solid black;
  background-color: rgb(5, 8, 39, 0.8);
  border-radius: 5px;
  cursor: pointer;
}
th {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgb(145, 27, 27);
  border-collapse: collapse;
  padding: 2px;
}
tr,
td {
  border: 1px solid saddlebrown;
  border-collapse: collapse;
  padding: 2px;
}
#body_id {
  background-color: rgba(149, 214, 85, 0.274);
}

.MM {
  border: 10rem black;
  position: absolute;
  top: 80px;
  left: 900px;
  background-color: rgb(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
  border: 1px solid saddlebrown;
  border-collapse: collapse;
  padding: 20px;
  border-radius: 30px;
}

#body_id {
  background-image: url("13191.jpg");
  background-size: cover;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.5);
  position: relative;
  top: 10px;
  left: 90px;
}
